<div id="Navbar" class="row">
  <div class="col-sm-8 text-left">
  <%if(typeof(user.username) !== 'undefined'){%>
    <a href="/" class ="hvr-back-pulse navbox">Home</a>
    <a href="/game" class ="hvr-back-pulse navbox">View the Local Cluster</a>
    <a href="/planets/new" class="hvr-back-pulse navbox">Create a Planet</a>
  <%}%>
  <a href="/planets" class="hvr-back-pulse navbox">View Planetary Database</a>
  </div>
  <div class="col-sm-4 text-right">
  <%if(typeof(user.username) !== 'undefined'){%>
    <a href="/users/<%=user._id%>"><%=user.username%></a>
    <a href="/auth/logout">Log Out</a>
  <%}else{%>
    <a href="/auth/login">Log In</a>
    <a href="/users/new">Register an Account</a>
  <%}%>
  </div>
</div>
<div class="row" id="Navprotector"></div>
