<navbar id="Navbar">
  <a href="/game">Play the game!</a>
  <a href="/planets/new">Create a planet!</a>
  <a href="/planets">View planetary database!</a>
  <a href="/auth/login">Login!</a>
  <a href="/users/new">Create an account!</a>
  <%=user.username%>
</navbar>
