<div id="Navbar" class="row">
  <div class="col-sm-8 text-left">
  <%if(typeof(user.username) !== 'undefined'){%>
    <a href="/">Home</a>
    <a href="/game">Play the game!</a>
    <a href="/planets/new">Create a planet!</a>
  <%}%>
  <a href="/planets">View planetary database!</a>
  </div>
  <div class="col-sm-4 text-right">
  <%if(typeof(user.username) !== 'undefined'){%>
    <a href="/users/<%=user._id%>"><%=user.username%></a>
    <a href="/auth/logout">Log out!</a>
  <%}else{%>
    <a href="/auth/login">Log in!</a>
    <a href="/users/new">Register an account!</a>
  <%}%>
  </div>
</div>
<div class="row" id="Navprotector"></div>
