<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stellarium</title>
  <%- include('partials/_header');%>
  <h1 class = 'welcome'>WELCOME TO STELLARIUM!</h1>
      <%- include('partials/_navbar');%>
  </head>
  <div class = 'container'>
      <div class="row">
        <div class = 'col bigPlanet'>
          <img src = "../assets/images/welcome-planet.png">
        </div>     
  <body>
      
  </body>
  </div>
  </div>
</html>
