<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stellarium</title>
  </head>
  <body>
    <h1>Welcome to Stellarium!</h1>
    <a href="/planets">Play the game!</a>
    <a href="/planets">Create a planet!</a>
    <a href="/users/login">Login!</a>
    <a href="/users/register">Create an account!</a>
  </body>
</html>
