<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stellarium</title>
  <%- include('partials/_header');%>
  </head>
  <div class = 'container'>
  <body>
      <h1>Welcome to Stellarium!</h1>
      <%- include('partials/_navbar');%>
  </body>
  </div>
</html>
