<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/jquery/jquery-3.3.1.js"></script>
    <%- include('../partials/_header');%>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('../partials/_navbar');%>
      <div id="Gamemain" class="row">
        <div id="Maincanvas" class="col-sm-10"></div>
        <div id="Information" class="col-sm-2">Info</div>
      </div>
    </div>
    <script src="/game/main.js"></script>
  </body>
</html>
