<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planet Creation</title>
    <%- include('../partials/_header');%>
  </head>
  <body>
    <%- include('../partials/_navbar');%>
    <p>
    <div>
      Create new user!
    </div>
    <div>
    <form action="/users" method="post">
    Name:<input type="text" name="name"></input></br>
    Password:<input type="password" name="password"></input></br>
    <input type="submit" value="Create User!"></input
    </form>
    </div>
    </p>
  </body>
</html>
