<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planet Creation</title>
    <%- include('../partials/_header');%>
  </head>
  <div class = 'container'>
  <body>
    <%- include('../partials/_navbar');%>
    <p>
    <div>
      Create new planet!
    </div>
    <div>
    <form action="/planets" method="post">
    Name:<input type="text" name="name"></input></br>
    Description:<textarea name="about"></textarea></br>
    Planet X Coordinate<input type="number" name="x"></input>: PLanet Y Coordinate:<input type="number" name="y"></input></br>
    <input type="submit" value="Submit Planet!"></input>
    </form>
    </div>
    </p>
  </body>
</div>
</html>
